<section class="flex h-full py-5 lg:py-0">
    <div class="w-full flex flex-col justify-center items-center lg:w-1/3 relative">
        <div class="w-full flex mt-auto flex-col justify-center items-center max-w-[90%] sm:max-w-[380px] lg:max-w-[70%] lg:items-start">
            <img src="assets/images/logo.svg" class="mb-4" width="160" height="40" alt="Logo">
            <ng-content></ng-content>
        </div>
        <div class="mt-auto lg:pb-5 flex gap-4 pt-3 justify-center">
            <a class="text-xs text-[#415570]" href="#">About Us</a>
            <a class="text-xs text-[#415570]" href="#">Support</a>
            <a class="text-xs text-[#415570]" href="#">Terms & Conditions</a>
        </div>
    </div>
    <div class="hidden bg-[#F4F7FE] lg:flex w-2/3 items-center justify-center auth-bg-wrapper">
        <div class="w-full max-w-[65%]">
            <span class="text-xl font-bold text-[#5062f4]">Seamless Collaboration</span>
            <h1 class="text-3xl font-bold leading-relaxed text-[#374765] mb-4 pt-4">Where efficiency meets innovation in the realm of project coordination and Collaboration</h1>
            <img src="assets/images/auth-banner.svg" class="banner" width="400" alt="Banner">
        </div>
    </div>
</section>