.btn-new-project
{
    display:flex;
    font-size:13px;
    gap:5px;

    span
    {
        font-size:13px;

        &.mi
        {
            font-size:20px;
            color:#fff;
        }
    }
}

.toggler
{
    max-height:40px;
    span
    {
        
        font-size:18px;
    }
}


.project-card-wrapper
{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
}
