<app-auth-layout>
    <h1 class="text-[#415570] title font-bold pt-4">Sign in to your Account</h1>
    <h3 class="text-base font-semibold text-[#415570] pt-3">New here? <a class="text-[#59c2c8] hover:text-[#50b2b7] ms-1" href="/signup">Create an Account</a></h3>
    <form class="w-full mt-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        @if(submitted && loginForm.hasError('loginError'))
        {
            <div class="bg-[#f8d7da] border-solid border border-[#f5c2c7] error-wrap rounded-md p-3 text-[#932029]">
                {{ loginForm.getError('loginError') }}
            </div>
        }
        <div class="flex flex-col w-full mt-5">
            <label class="text-sm text-[#415570]" for="email">Email</label>
            <input class="p-4 w-full text-sm mt-2 border-1 border-[transparent]  bg-[#f6f7fb] rounded-md outline-none focus:border-1 focus:border-solid focus:border-[#6c63ff]" id="email" type="text" placeholder="Enter your email" formControlName="email" autoComplete="true" required=""/>
            @if(submitted && controls['email'].errors && (controls['email'].errors['required']))
            {
                <span class="text-xs mt-1 text-red-600">*Email is required</span>
            }
            @else if(submitted && controls['email'].errors && (controls['email'].errors['email']))
            {
                <span class="text-xs mt-1 text-red-600">Invalid email address</span>
            }
        </div>
        <div class="flex flex-col w-full mt-7">
            <div class="flex">
                <label class="text-sm text-[#415570]" for="password">Password</label>
                <a href="/forgot-password" class="text-sm ms-auto font-medium text-[#6c63ff] hover:text-[#564fcc]">Forgot password?</a>
            </div>
            <input class="p-4 w-full text-sm mt-2 border-1 border-[transparent]  bg-[#f6f7fb] rounded-md outline-none focus:border-1 focus:border-solid focus:border-[#6c63ff]" id="password" type="password" placeholder="Enter password" formControlName="password" autoComplete="true" required=""/>
            @if(submitted && controls['password'].errors && (controls['password'].errors['required']))
            {
                <span class="text-xs mt-1 text-red-600">*Password is required</span>
            }
        </div>
        <div class="flex items-center mt-4">
            <input type="checkbox" id="remember" class="h-5 w-5 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600">
            <label class="text-sm ms-2 text-[#415570] text-medium" for="remember">Remember Me</label>
        </div>
        <button type="submit" class="mt-7 flex items-center bg-[#6c63ff] hover:bg-[#564fcc] text-white font-medium px-5 py-3 rounded-md">
            <span class="mr-1 text-sm">Sign In</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
          </button>
    </form>
</app-auth-layout>