.animation-container
{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    .animation-wrap
    {
        width:100%;
        max-width:300px;
    }
}